Templates(
    entities: [
        Template(
            entity_type: Item,
            name: "Healing Potion",
            glyph: '!',
            level: [0, 1, 2],
            provides: [("Healing", 6)],
            frequency: 2
        ),
        Template(
            entity_type: Item,
            name: "Healing Potion (Weak)",
            glyph: '!',
            level: [0, 1, 2],
            provides: [("Healing", 2)],
            frequency: 2
        ),
        Template(
            entity_type: Item,
            name: "Dungeon Map",
            glyph: '{',
            level: [0, 1, 2],
            provides: [("MagicMap", 0)],
            frequency: 1,
        ),
        Template(
            entity_type: Enemy,
            name: "Goblin",
            glyph: 'g',
            level: [0],
            hp: Some(1),
            frequency: 3,
            base_damage: Some(1)
        ),
        Template(
            entity_type: Enemy,
            name: "Orc",
            glyph: 'o',
            level: [0, 1, 2],
            hp: Some(2),
            frequency: 2,
            base_damage: Some(1)
        ),
        Template(
            entity_type: Enemy,
            name: "Ogre",
            glyph: 'O',
            level: [1,2],
            hp: Some(5),
            frequency: 1,
            base_damage: Some(2)
        ),
        Template(
            entity_type: Enemy,
            name: "Ettin",
            glyph: 'E',
            level: [2],
            hp: Some(10),
            frequency: 1,
            base_damage: Some(3)
        ),
        Template(
            entity_type: Item,
            name: "Rusty Sword",
            glyph: 's',
            level: [0,1,2],
            frequency: 1,
            base_damage: Some(1)
        ),
        Template(
            entity_type: Item,
            name: "Shiny Sword",
            glyph: 'S',
            level: [0,1,2],
            frequency: 1,
            base_damage: Some(2)
        ),
        Template(
            entity_type: Item,
            name: "Huge Swort",
            glyph: '/',
            level: [1,2],
            frequency: 1,
            base_damage: Some(3)
        ),
    ]
)